In [1]:
import pandas as pd
import numpy as np

# Subjects 2021-22

English (2021-22)

In [2]:
ELA_2021_2022 = pd.read_csv('df_ela_2022.csv')

# add column for ELA for each row
ELA_2021_2022['SUBJECT'] = 'ELA'

ELA_2021_2022["ASSESSMENT_NAME"].unique()

array(['ELA3', 'ELA4', 'ELA5', 'ELA6', 'ELA7', 'ELA8', 'ELA3_8'],
      dtype=object)

In [3]:
# year count
ELA_2021_2022["YEAR"].value_counts()

2022    21525
2021    21497
Name: YEAR, dtype: int64

In [4]:
# check for missing values
ELA_2021_2022.isnull().sum()

ENTITY_CD                                            0
ENTITY_NAME                                          0
YEAR                                                 0
ASSESSMENT_NAME                                      0
TOTAL_COUNT                                          0
                                                 ...
Students with Disabilities_PCT_TESTED             9409
Students with Disabilities_PER_PROF              12474
Students with Disabilities_TOTAL_COUNT            9409
Students with Disabilities_TOTAL_SCALE_SCORES    12474
SUBJECT                                              0
Length: 131, dtype: int64

In [5]:
ELA_2021_2022[(ELA_2021_2022["YEAR"] == 2021) & (ELA_2021_2022["ENTITY_CD"] == 1)]

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,...,Students with Disabilities_MEAN_SCORE,Students with Disabilities_NOT_TESTED,Students with Disabilities_NUM_PROF,Students with Disabilities_NUM_TESTED,Students with Disabilities_PCT_NOT_TESTED,Students with Disabilities_PCT_TESTED,Students with Disabilities_PER_PROF,Students with Disabilities_TOTAL_COUNT,Students with Disabilities_TOTAL_SCALE_SCORES,SUBJECT
64,1,NYC Public Schools,2021,ELA3,67914,50476,74,17438,26,11568,...,591,16878.0,1011,2700.0,86.0,14.0,37,19578.0,1595908,ELA
3337,1,NYC Public Schools,2021,ELA4,67875,50177,74,17698,26,12053,...,592,16562.0,1048,2797.0,86.0,14.0,37,19359.0,1656679,ELA
6568,1,NYC Public Schools,2021,ELA5,70506,53927,76,16579,24,8882,...,588,18355.0,590,2757.0,87.0,13.0,21,21112.0,1621980,ELA
9816,1,NYC Public Schools,2021,ELA6,69048,55275,80,13773,20,9538,...,589,17618.0,697,2089.0,89.0,11.0,33,19707.0,1230551,ELA
12405,1,NYC Public Schools,2021,ELA7,69806,55892,80,13914,20,8437,...,587,17182.0,446,2085.0,89.0,11.0,21,19267.0,1223984,ELA
14114,1,NYC Public Schools,2021,ELA8,71970,61170,85,10800,15,7010,...,588,17179.0,527,1737.0,91.0,9.0,30,18916.0,1021853,ELA
17058,1,NYC Public Schools,2021,ELA3_8,417119,326917,78,90202,22,57488,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ELA

In [6]:
11568+12053+8882+9538+8437+7010

57488

Mathematics (2021-22)

In [7]:
Math_2021_2022 = pd.read_csv('df_Math_2022.csv')

# add column for Math for each row
Math_2021_2022['SUBJECT'] = 'Math'

Math_2021_2022["ASSESSMENT_NAME"].unique()

/var/folders/2s/c87gg64118ndg_yrky9zvlnc0000gn/T/ipykernel_45531/4275389915.py:1: DtypeWarning: Columns (11,12,13,15,19,21,22,24,28,30,31,33,37,39,40,42,46,48,49,51,55,57,58,60,64,66,67,69,73,75,76,78,82,84,85,87,91,93,94,96,100,102,103,105,109,111,112,114,118,120,121,123,127,129) have mixed types. Specify dtype option on import or set low_memory=False.
  Math_2021_2022 = pd.read_csv('df_Math_2022.csv')

array(['MATH3', 'MATH4', 'MATH5', 'MATH6', 'MATH7', 'MATH8',
       'Combined7Math', 'RegentsMath8', 'RegentsMath7', 'Combined8Math',
       'MATH3_8', 'Combined6Math', 'RegentsMath6'], dtype=object)

In [8]:
# check for missing values
Math_2021_2022.isnull().sum()

ENTITY_CD                                            0
ENTITY_NAME                                          0
YEAR                                                 0
ASSESSMENT_NAME                                      0
TOTAL_COUNT                                       3843
                                                 ...
Students with Disabilities_PCT_TESTED            25135
Students with Disabilities_PER_PROF              28570
Students with Disabilities_TOTAL_COUNT           25135
Students with Disabilities_TOTAL_SCALE_SCORES    28570
SUBJECT                                              0
Length: 131, dtype: int64

In [9]:
Math_2021_2022[(Math_2021_2022["YEAR"] == 2022) & (Math_2021_2022["ENTITY_CD"] == 1)]

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,...,Students with Disabilities_MEAN_SCORE,Students with Disabilities_NOT_TESTED,Students with Disabilities_NUM_PROF,Students with Disabilities_NUM_TESTED,Students with Disabilities_PCT_NOT_TESTED,Students with Disabilities_PCT_TESTED,Students with Disabilities_PER_PROF,Students with Disabilities_TOTAL_COUNT,Students with Disabilities_TOTAL_SCALE_SCORES,SUBJECT
28037,1,NYC Public Schools,2022,MATH6,60810.0,7644,13.0,53166,87.0,18125,...,581,4055.0,1220,11622.0,26.0,74.0,10,15677.0,6750048,Math
28038,1,NYC Public Schools,2022,MATH3,59191.0,6878,12.0,52313,88.0,25349,...,585,4158.0,2786,10981.0,27.0,73.0,25,15139.0,6419143,Math
28039,1,NYC Public Schools,2022,RegentsMath7,NaN,0,0.0,269,0.0,229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Math
28040,1,NYC Public Schools,2022,RegentsMath8,NaN,2,0.0,22304,34.0,15675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Math
28041,1,NYC Public Schools,2022,Combined7Math,63143.0,8145,13.0,54998,87.0,19931,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Math
28042,1,NYC Public Schools,2022,Combined8Math,65430.0,9406,14.0,56024,86.0,24105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Math
28043,1,NYC Public Schools,2022,Combined6Math,60810.0,7644,13.0,53166,87.0,18125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Math
28044,1,NYC Public Schools,2022,MATH4,61145.0,6927,11.0,54218,89.0,22757,...,581,4072.0,2190,11690.0,26.0,74.0,19,15762.0,6790505,Math
28045,1,NYC Public Schools,2022,MATH3_8,371571.0,46339,12.0,325232,88.0,130826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Math
28046,1,NYC Public Schools,2022,MATH7,63143.0,8414,13.0,54729,87.0,19702,...,582,4248.0,1133,11569.0,27.0,73.0,10,15817.0,6738368,Math
28047,1,NYC Public Schools,2022,MATH8,65430.0,31710,48.0,33720,52.0,8430,...,581,7382.0,497,8411.0,47.0,53.0,06,15793.0,4888527,Math
28048,1,NYC Public Schools,2022,MATH5,61852.0,7339,12.0,54513,88.0,20559,...,582,4092.0,1742,11756.0,26.0,74.0,15,15848.0,6837098,Math

Science (2021-22)

In [10]:
Science_2021_2022 = pd.read_csv('df_Science_2022.csv')

# add column for Science for each row
Science_2021_2022['SUBJECT'] = 'Science'

Science_2021_2022["ASSESSMENT_NAME"].unique()

/var/folders/2s/c87gg64118ndg_yrky9zvlnc0000gn/T/ipykernel_45531/4099104169.py:1: DtypeWarning: Columns (11,12,13,15,19,21,22,24,28,30,31,33,37,39,40,42,46,48,49,51,55,57,58,60,64,66,67,69,73,75,76,78,82,84,85,87,91,93,94,96,100,102,103,105,109,111,112,114,118,120,121,123,127,129) have mixed types. Specify dtype option on import or set low_memory=False.
  Science_2021_2022 = pd.read_csv('df_Science_2022.csv')

array(['Science4', 'Science8', 'RegentsScience8', 'CombinedScience ',
       'Science4_8'], dtype=object)

In [11]:
Science_2021_2022[(Science_2021_2022["YEAR"] == 2022) & (Science_2021_2022["ENTITY_CD"] == 1)]

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,...,Students with Disabilities_MEAN_SCORE,Students with Disabilities_NOT_TESTED,Students with Disabilities_NUM_PROF,Students with Disabilities_NUM_TESTED,Students with Disabilities_PCT_NOT_TESTED,Students with Disabilities_PCT_TESTED,Students with Disabilities_PER_PROF,Students with Disabilities_TOTAL_COUNT,Students with Disabilities_TOTAL_SCALE_SCORES,SUBJECT
13913,1,NYC Public Schools,2022,RegentsScience8,NaN,0,0,19939,30,13718,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Science
13914,1,NYC Public Schools,2022,CombinedScience,65476.0,12018,18,53458,82,28541,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Science
13915,1,NYC Public Schools,2022,Science4_8,126654.0,19634,16,107020,84,70051,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Science
13916,1,NYC Public Schools,2022,Science4,61178.0,7616,12,53562,88,41510,...,67,4178.0,6988,11567.0,27.0,73.0,60,15745.0,775086,Science
13917,1,NYC Public Schools,2022,Science8,65476.0,31957,49,33519,51,14823,...,51,7913.0,1700,7858.0,50.0,50.0,22,15771.0,398770,Science

In [12]:
# stack the dataframes on top of each other
subject_df_2021_22 = pd.concat([ELA_2021_2022, Math_2021_2022, Science_2021_2022], axis=0)

In [13]:
subject_df_2021_22["ASSESSMENT_NAME"].unique()

array(['ELA3', 'ELA4', 'ELA5', 'ELA6', 'ELA7', 'ELA8', 'ELA3_8', 'MATH3',
       'MATH4', 'MATH5', 'MATH6', 'MATH7', 'MATH8', 'Combined7Math',
       'RegentsMath8', 'RegentsMath7', 'Combined8Math', 'MATH3_8',
       'Combined6Math', 'RegentsMath6', 'Science4', 'Science8',
       'RegentsScience8', 'CombinedScience ', 'Science4_8'], dtype=object)

# Subject 2018-19

English (2018-19)

In [14]:
ELA_2018_2019 = pd.read_csv('df_ela_2019.csv')

# add column for ELA for each row
ELA_2018_2019['SUBJECT'] = 'ELA'

ELA_2018_2019["ASSESSMENT_NAME"].unique()

/var/folders/2s/c87gg64118ndg_yrky9zvlnc0000gn/T/ipykernel_45531/260585670.py:1: DtypeWarning: Columns (6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ELA_2018_2019 = pd.read_csv('df_ela_2019.csv')

array(['ELA5', 'ELA3_8', 'ELA3', 'ELA7', 'ELA8', 'ELA6', 'ELA4'],
      dtype=object)

In [15]:
ELA_2018_2019[(ELA_2018_2019["YEAR"] == 2019) & (ELA_2018_2019["ENTITY_CD"] == 1)]

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,NOT_TESTED,NUM_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE,...,Not Economically Disadvantaged_NUM_TESTED,Not Economically Disadvantaged_PER_PROF,Not Economically Disadvantaged_TOTAL_SCALE_SCORES,Students with Disabilities_MEAN_SCORE,Students with Disabilities_NOT_TESTED,Students with Disabilities_NUM_PROF,Students with Disabilities_NUM_TESTED,Students with Disabilities_PER_PROF,Students with Disabilities_TOTAL_SCALE_SCORES,SUBJECT
7,1,NYC Public Schools,2019,ELA5,9094,66181,26350,40,39723819,600,...,16916.0,60,10321578,583,6454.0,1726,14913.0,12,8698658,ELA
8,1,NYC Public Schools,2019,ELA3_8,52862,392595,186002,47,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ELA
9,1,NYC Public Schools,2019,ELA3,11117,64752,34498,53,38867037,600,...,17079.0,74,10419470,585,8345.0,3198,14302.0,22,8364234,ELA
10,1,NYC Public Schools,2019,ELA8,8589,63706,32237,51,38309671,601,...,16281.0,67,9911200,586,5128.0,2330,13460.0,17,7893735,ELA
11,1,NYC Public Schools,2019,ELA7,7172,64983,27766,43,39077597,601,...,16630.0,63,10161133,585,5012.0,1583,14024.0,11,8199157,ELA
12,1,NYC Public Schools,2019,ELA6,7663,66181,32008,48,39648032,599,...,16859.0,69,10284246,581,5578.0,2319,14639.0,16,8506455,ELA
13,1,NYC Public Schools,2019,ELA4,9227,66792,33143,50,40028416,599,...,17306.0,70,10543027,584,6628.0,2772,14993.0,18,8752154,ELA

Mathematics (2018-19)

In [16]:
Math_2018_2019 = pd.read_csv('df_Math_2019.csv')

# add column for Math for each row
Math_2018_2019['SUBJECT'] = 'Math'

Math_2018_2019["ASSESSMENT_NAME"].unique()

array(['Combined8Math', 'Combined7Math', 'RegentsMath8', 'MATH3_8',
       'MATH8', 'MATH7', 'MATH5', 'MATH3', 'MATH6', 'MATH4',
       'RegentsMath7'], dtype=object)

In [17]:
Math_2018_2019[(Math_2018_2019["YEAR"] == 2019) & (Math_2018_2019["ENTITY_CD"] == 1)]

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,NOT_TESTED,NUM_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE,...,Not Economically Disadvantaged_NUM_TESTED,Not Economically Disadvantaged_PER_PROF,Not Economically Disadvantaged_TOTAL_SCALE_SCORES,Students with Disabilities_MEAN_SCORE,Students with Disabilities_NOT_TESTED,Students with Disabilities_NUM_PROF,Students with Disabilities_NUM_TESTED,Students with Disabilities_PER_PROF,Students with Disabilities_TOTAL_SCALE_SCORES,SUBJECT
26935,1,NYC Public Schools,2019,MATH4,7965,68046,33604,49,40859159,600,...,17594.0,70,10740486,586,6580.0,3284,15019.0,22,8805016,Math
26936,1,NYC Public Schools,2019,MATH3_8,62299,398976,187256,47,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Math
26937,1,NYC Public Schools,2019,MATH7,6774,65447,27559,42,39329413,601,...,16694.0,61,10181278,584,5230.0,1650,13787.0,12,8053869,Math
26938,1,NYC Public Schools,2019,MATH8,22960,49372,17780,36,29658769,601,...,10816.0,48,6559667,585,7262.0,1216,11316.0,11,6622129,Math
26939,1,NYC Public Schools,2019,MATH5,7881,67386,31066,46,40456825,600,...,17184.0,66,10473460,585,6460.0,2666,14872.0,18,8705256,Math
26940,1,NYC Public Schools,2019,MATH3,9776,66091,35167,53,39651224,600,...,17402.0,73,10599926,587,8240.0,3890,14396.0,27,8457137,Math
26941,1,NYC Public Schools,2019,RegentsMath7,s,267,215,81,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Math
26942,1,NYC Public Schools,2019,Combined8Math,22960,64831,30249,47,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Math
26943,1,NYC Public Schools,2019,RegentsMath8,s,15459,12469,81,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Math
26944,1,NYC Public Schools,2019,MATH6,6943,66908,29396,44,40115105,600,...,16971.0,64,10332478,583,5760.0,1963,14439.0,14,8424631,Math
26945,1,NYC Public Schools,2019,Combined7Math,6774,65714,27774,42,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Math

In [18]:
# check for missing values
Math_2018_2019.isnull().sum()

ENTITY_CD                                            0
ENTITY_NAME                                          0
YEAR                                                 0
ASSESSMENT_NAME                                      0
NOT_TESTED                                           4
                                                 ...
Students with Disabilities_NUM_PROF              19708
Students with Disabilities_NUM_TESTED            19708
Students with Disabilities_PER_PROF              19708
Students with Disabilities_TOTAL_SCALE_SCORES    19708
SUBJECT                                              0
Length: 89, dtype: int64

Science (2018-19)

In [19]:
Science_2018_2019 = pd.read_csv('df_Science_2019.csv')

# add column for Science for each row
Science_2018_2019['SUBJECT'] = 'Science'

Science_2018_2019["ASSESSMENT_NAME"].unique()

array(['Science4', 'Science8', 'RegentsScience8', 'CombinedScience ',
       'Science4_8'], dtype=object)

In [20]:
Science_2018_2019[(Science_2018_2019["YEAR"] == 2018) & (Science_2018_2019["ENTITY_CD"] == 1)]

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,NOT_TESTED,NUM_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE,...,Not Economically Disadvantaged_NUM_TESTED,Not Economically Disadvantaged_PER_PROF,Not Economically Disadvantaged_TOTAL_SCALE_SCORES,Students with Disabilities_MEAN_SCORE,Students with Disabilities_NOT_TESTED,Students with Disabilities_NUM_PROF,Students with Disabilities_NUM_TESTED,Students with Disabilities_PER_PROF,Students with Disabilities_TOTAL_SCALE_SCORES,SUBJECT
0,1,NYC Public Schools,2018,Science4,8549,68089,59021,87,5510492,81,...,16622.0,95,1451579,74,6412,11052,14793.0,75,1087759,Science
1,1,NYC Public Schools,2018,Science8,23690,47519,25375,53,3062957,64,...,9907.0,69,707668,54,7136,2910,10589.0,27,567837,Science
2,1,NYC Public Schools,2018,RegentsScience8,s,14463,11338,78,NaN,NaN,...,5529.0,89,NaN,NaN,s,537,1328.0,40,NaN,Science
3,1,NYC Public Schools,2018,CombinedScience,23690,61982,36713,59,3062957,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Science
4,1,NYC Public Schools,2018,Science4_8,32239,130071,95734,74,8573449,66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Science

In [21]:
# stack the dataframes on top of each other
subject_df_2018_19 = pd.concat([ELA_2018_2019, Math_2018_2019, Science_2018_2019], axis=0)

In [22]:
subject_df_2018_19["ASSESSMENT_NAME"].unique()

array(['ELA5', 'ELA3_8', 'ELA3', 'ELA7', 'ELA8', 'ELA6', 'ELA4',
       'Combined8Math', 'Combined7Math', 'RegentsMath8', 'MATH3_8',
       'MATH8', 'MATH7', 'MATH5', 'MATH3', 'MATH6', 'MATH4',
       'RegentsMath7', 'Science4', 'Science8', 'RegentsScience8',
       'CombinedScience ', 'Science4_8'], dtype=object)

# Final Subjects Dataframe

In [23]:
# stack the dataframes on top of each other
subject_df_2018_19_2021_22 = pd.concat([subject_df_2018_19, subject_df_2021_22], axis=0)

subject_df_2018_19_2021_22.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,NOT_TESTED,NUM_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE,...,Non-English Language Learner_TOTAL_COUNT,Economically Disadvantaged_PCT_NOT_TESTED,Economically Disadvantaged_PCT_TESTED,Economically Disadvantaged_TOTAL_COUNT,Not Economically Disadvantaged_PCT_NOT_TESTED,Not Economically Disadvantaged_PCT_TESTED,Not Economically Disadvantaged_TOTAL_COUNT,Students with Disabilities_PCT_NOT_TESTED,Students with Disabilities_PCT_TESTED,Students with Disabilities_TOTAL_COUNT
0,1,NYC Public Schools,2018,ELA5,8982,68439,25990,38,41110322,601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NYC Public Schools,2018,ELA3_8,51959,396804,185099,47,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NYC Public Schools,2018,ELA3,10410,67237,34036,51,40361558,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,NYC Public Schools,2018,ELA7,7157,65250,27812,43,39254856,602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,NYC Public Schools,2018,ELA8,8457,63183,32042,51,38019693,602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
subject_df_2018_19_2021_22[(subject_df_2018_19_2021_22["YEAR"] == 2018) & (subject_df_2018_19_2021_22["ENTITY_CD"] == 1)]

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,NOT_TESTED,NUM_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE,...,Non-English Language Learner_TOTAL_COUNT,Economically Disadvantaged_PCT_NOT_TESTED,Economically Disadvantaged_PCT_TESTED,Economically Disadvantaged_TOTAL_COUNT,Not Economically Disadvantaged_PCT_NOT_TESTED,Not Economically Disadvantaged_PCT_TESTED,Not Economically Disadvantaged_TOTAL_COUNT,Students with Disabilities_PCT_NOT_TESTED,Students with Disabilities_PCT_TESTED,Students with Disabilities_TOTAL_COUNT
0,1,NYC Public Schools,2018,ELA5,8982,68439,25990,38,41110322,601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NYC Public Schools,2018,ELA3_8,51959,396804,185099,47,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NYC Public Schools,2018,ELA3,10410,67237,34036,51,40361558,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,NYC Public Schools,2018,ELA7,7157,65250,27812,43,39254856,602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,NYC Public Schools,2018,ELA8,8457,63183,32042,51,38019693,602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,NYC Public Schools,2018,ELA6,7496,65108,31863,49,39089628,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,NYC Public Schools,2018,ELA4,9457,67587,33356,49,40625764,601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1,NYC Public Schools,2018,Combined8Math,21909,64087,27892,44,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NYC Public Schools,2018,Combined7Math,6675,65892,26320,40,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NYC Public Schools,2018,RegentsMath8,s,14361,11369,79,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,NYC Public Schools,2018,MATH3_8,60289,402824,177196,44,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,NYC Public Schools,2018,MATH8,21909,49726,16523,33,29864407,601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,NYC Public Schools,2018,MATH7,6675,65714,26153,40,39370707,599,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,NYC Public Schools,2018,MATH5,8000,69374,28916,42,41569152,599,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,NYC Public Schools,2018,MATH3,8920,68673,35868,52,41161976,599,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,NYC Public Schools,2018,MATH6,6635,65955,26276,40,39462194,598,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,NYC Public Schools,2018,MATH4,8150,68843,31924,46,41274761,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,NYC Public Schools,2018,RegentsMath7,s,178,167,94,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1,NYC Public Schools,2018,Science4,8549,68089,59021,87,5510492,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NYC Public Schools,2018,Science8,23690,47519,25375,53,3062957,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NYC Public Schools,2018,RegentsScience8,s,14463,11338,78,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,NYC Public Schools,2018,CombinedScience,23690,61982,36713,59,3062957,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,NYC Public Schools,2018,Science4_8,32239,130071,95734,74,8573449,66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# count rows for each year
subject_df_2018_19_2021_22["YEAR"].value_counts()

2022    66202
2021    63447
2018    60889
2019    57707
Name: YEAR, dtype: int64

In [26]:
# check for null values
subject_df_2018_19_2021_22.isnull().sum()

ENTITY_CD                                          0
ENTITY_NAME                                        0
YEAR                                               0
ASSESSMENT_NAME                                    0
NOT_TESTED                                         4
                                               ...
Not Economically Disadvantaged_PCT_TESTED     171837
Not Economically Disadvantaged_TOTAL_COUNT    171837
Students with Disabilities_PCT_NOT_TESTED     169962
Students with Disabilities_PCT_TESTED         169962
Students with Disabilities_TOTAL_COUNT        169962
Length: 131, dtype: int64

In [29]:
# save as csv
subject_df_2018_19_2021_22.to_csv('subject_df_2018_19_2021_22.csv', index=False)

In [28]:
subject_df_2018_19_2021_22[(subject_df_2018_19_2021_22["YEAR"] == 2018) & (subject_df_2018_19_2021_22["ENTITY_CD"] == 1)]

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,NOT_TESTED,NUM_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE,...,Non-English Language Learner_TOTAL_COUNT,Economically Disadvantaged_PCT_NOT_TESTED,Economically Disadvantaged_PCT_TESTED,Economically Disadvantaged_TOTAL_COUNT,Not Economically Disadvantaged_PCT_NOT_TESTED,Not Economically Disadvantaged_PCT_TESTED,Not Economically Disadvantaged_TOTAL_COUNT,Students with Disabilities_PCT_NOT_TESTED,Students with Disabilities_PCT_TESTED,Students with Disabilities_TOTAL_COUNT
0,1,NYC Public Schools,2018,ELA5,8982,68439,25990,38,41110322,601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NYC Public Schools,2018,ELA3_8,51959,396804,185099,47,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NYC Public Schools,2018,ELA3,10410,67237,34036,51,40361558,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,NYC Public Schools,2018,ELA7,7157,65250,27812,43,39254856,602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,NYC Public Schools,2018,ELA8,8457,63183,32042,51,38019693,602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,NYC Public Schools,2018,ELA6,7496,65108,31863,49,39089628,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,NYC Public Schools,2018,ELA4,9457,67587,33356,49,40625764,601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1,NYC Public Schools,2018,Combined8Math,21909,64087,27892,44,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NYC Public Schools,2018,Combined7Math,6675,65892,26320,40,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NYC Public Schools,2018,RegentsMath8,s,14361,11369,79,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,NYC Public Schools,2018,MATH3_8,60289,402824,177196,44,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,NYC Public Schools,2018,MATH8,21909,49726,16523,33,29864407,601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,NYC Public Schools,2018,MATH7,6675,65714,26153,40,39370707,599,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,NYC Public Schools,2018,MATH5,8000,69374,28916,42,41569152,599,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,NYC Public Schools,2018,MATH3,8920,68673,35868,52,41161976,599,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,NYC Public Schools,2018,MATH6,6635,65955,26276,40,39462194,598,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,NYC Public Schools,2018,MATH4,8150,68843,31924,46,41274761,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,NYC Public Schools,2018,RegentsMath7,s,178,167,94,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1,NYC Public Schools,2018,Science4,8549,68089,59021,87,5510492,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NYC Public Schools,2018,Science8,23690,47519,25375,53,3062957,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NYC Public Schools,2018,RegentsScience8,s,14463,11338,78,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,NYC Public Schools,2018,CombinedScience,23690,61982,36713,59,3062957,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,NYC Public Schools,2018,Science4_8,32239,130071,95734,74,8573449,66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN